# mac hidden files
.DS_Store

# package depencencies
node_modules

# distribution folder wheen client source files will be compiled
dist
server/dist

# logs
*.log

# vars
.env

# lock files
*-lock.json
*.lock

# error files
*.error

# test snapshots
__snapshots__
